.gal {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.overskrift {
    font-size: 1rem;
    text-align: center;
    margin-top: 30px;
}

.info_tekst {
    font-size: 0.8rem;
    text-align: center;
}

.billede {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

@media only screen and (min-width:900px) {
    .flex {
        display: flex;
        flex-direction: row;
    }

    .overskrift {
        font-size: 1.7rem;
    }

    .info_tekst {
        font-size: 1.1rem;
    }
}
